Faites vos premiers pas avec Jupyter Notebook

In [1]:
print('Hello World !')

Hello World !

# Un titre de niveau 1
Voici un peu de texte pour présenter un markdown
## titre de niveau 2
**Ceci** est très important
## autre titre de niveau 2
Mais *cela* également !

Déclarez une variable

In [2]:
compteCourant = 500
compteEpargne = 1000

In [3]:
# ajouter 100 à notre épargne (Yeah!)
compteEpargne = compteEpargne + 100

# enlever 50 de notre compte courant (Snif)
compteCourant = compteCourant - 50

# calculer le nombre de jours à économiser pour atteindre 5000€
nombreJoursEconomiser = (5000 - compteCourant) / 500

# mettre à jour notre compte courant (encore) après les gains/pertes journaliers
compteCourant = compteCourant + (30 - 10) * 7

# # Exercice d'entrainement

Déclarez une variable
Exécutez la case suivante qui déclare les variables :

compteEpargne correspondant au montant sur le compte épargne
taux le taux d'intérêt pour l'année considérée

In [4]:
print(compteEpargne % 500) # -> 100
# 1100 = 500 * 2 + 100, donc 1100 % 500 = le reste = 100

print(9 ** 3) # -> 729, 9*9*9 = 729

print(compteEpargne // 500) # -> 2
# 1100 = 500 * 2 + 100, donc 1100 // 500 = résultat division entière = 2

100
729
2

In [5]:
compteEpargne = 10000
taux = 0.75

Créez une variable interets, qui correspond au montant sur le compte épargne multiplié par le taux d'intérêt (qui lui même doit être divisé par 100, car les taux sont exprimés en pourcentage) :

In [6]:
interets = compteEpargne * (taux/100)

A présent exécutez la case suivante :

In [7]:
print("Le solde de votre compte était de", compteEpargne, "€\nIl vous a rapporté", interets, "€ cette année")

Le solde de votre compte était de 10000 €
Il vous a rapporté 75.0 € cette année

In [8]:
# version explicite
compteEpargne = compteEpargne + 100

# équivalent à version courte :
compteEpargne += 100

Pour rappel : il fallait reprendre le code suivant en modifiant la ligne economies = economies + 500 en dessous du # A FAIRE en commentaire, via l'opérateur simplifié +=

In [9]:
compte = 200
economies = 3000
    
# A FAIRE: modifiez la ligne suivante avec l'opérateur simplifié +=
economies = economies + 500

print("Vos économies sont de: ", economies)

Vos économies sont de:  3500

In [10]:
# La solution est donc :
compte = 200
economies = 3000
    
economies += 500

print("Vos économies sont de: ", economies)

Vos économies sont de:  3500

In [11]:
# Vous pourriez déclarer ces trois variables de la façon suivante :
prenom = "Benjamin"
pourcentageActivite = 72.3
adresse = "7 Cité Paradis, 75010 Paris"

In [12]:
adresse = "7 Cité Paradis, 75010 Paris"
# équivalent à
adresse = '7 Cité Paradis, 75010 Paris'

# En résumé
## Dans ce chapitre, vous avez découvert les fondamentaux sur les variables :

## Une variable est composée de deux éléments : son nom et sa valeur.

## L’attribution d’une valeur à une variable s’appelle une affectation.

## La valeur d’une variable peut être modifiée.

## Le type d’une variable dépend de sa valeur.

## Les noms de vos variables doivent être clairs, explicites et doivent suivre une convention typographique.

## Dans le prochain chapitre, vous aborderez plus en détail les types de variables !

In [13]:
#

In [14]:
########

#  Manipulez les types de variables

In [15]:
compte = 10

In [16]:
longueur = 1876.79
largeur = 870.0

In [17]:
a = 7.5
b = 3
c = a/b
c
# cela va afficher 2.5, ce qui est bien un float

2.5

In [18]:
a = 10
b = 5
c = a/b
print(c)
# c est un float

2.0

In [19]:
a = 14.0
# a est un float
a = int(a)
print(a)
# a est à présent un entier : il affiche 14 et non plus 14.0

14

# # Exercice d'entrenaiment

In [20]:
# Reprenons la problématique du taux d'intérêt du chapitre précédent :
compteEpargne = 10000
taux = 0.75

interets = compteEpargne * (taux/100)

print(interets)

75.0

In [21]:
# Si vous observez bien, la variable interets est actuellement de type float. Ecrivez ci dessous une ligne permettant de la transformer en entier :
interets = int(interets)

print(interets)

75

In [22]:
# interets est à présent bien un entier !

# # Les chaînes des caractères

In [23]:
ville = "Paris"
film = 'intouchables'
stringVide = ""

In [24]:
villeFavoriteUne = "Reims"
villeFavoriteDeux = "Strasbourg"
favoris = villeFavoriteUne + villeFavoriteDeux
print(favoris) # => "ReimsStrasbourg"

ReimsStrasbourg

In [25]:
villeFavoriteUne = "Reims"
villeFavoriteDeux = "Strasbourg"
favoris = "Mes villes favorites sont " + villeFavoriteUne + " et "+ villeFavoriteDeux 
print(favoris) # -> "Mes villes favorites sont Reims et Strasbourg"

Mes villes favorites sont Reims et Strasbourg

In [26]:
ville = "Sydney"
nombreVoyages = 5
histoire = "J'ai déjà été à " + ville + " " + str(nombreVoyages) + " fois"
print(histoire) # => "J'ai déjà été à Syndey 5 fois"

J'ai déjà été à Sydney 5 fois

#  En résumé
## Dans ce chapitre, vous avez rencontré trois types primitifs de variables, indispensables à tous programmes/analyses :

## entiers (int) ;

## décimaux (float) ;

## chaînes de caractères (string).

## Vous avez également vu comment manipuler ces différents types :

## vous pouvez réaliser des opérations numériques sur des variables numériques de types différents ;

## vous pouvez caster des variables pour forcer la transformation du type d’une variable en un autre spécifique, en fonction de vos besoins ;

## des chaînes de caractères peuvent être assemblées ensemble : c’est la concaténation.#

#  Écrivez vos propres fonctions

In [28]:
# def nomFonction():
    # instructions 
    # pouvant aller
    # sur plusieurs
    # lignes

In [29]:
def afficherPerimetre():
    cote1 = 6
    cote2 = 4
    cote3 = 3
    perimetre = cote1 + cote2 + cote3
    print(perimetre)
    
afficherPerimetre() # => 13

13

In [30]:
def afficherPerimetre(cote1, cote2, cote3):
    perimetre = cote1 + cote2 + cote3
    print(perimetre)

In [31]:
afficherPerimetre(10, 11, 4) # => 25
afficherPerimetre(2, 2, 3.5) # => 7.5

25
7.5

In [32]:
def calculPerimetre(cote1, cote2, cote3):
    perimetre = cote1 + cote2 + cote3
    return perimetre

In [33]:
perimetre1 = calculPerimetre(6, 4, 3)
perimetre2 = calculPerimetre(10, 3, 11)

print("Le périmetre de mon premier triangle est", perimetre1, "et celle de mon second est", perimetre2)

Le périmetre de mon premier triangle est 13 et celle de mon second est 24

# En résumé
## Dans ce chapitre, vous avez vu que :

## les fonctions peuvent avoir des paramètres et des valeurs de retour ;

## une valeur de retour est le résultat de l’exécution de la fonction. Elle est retournée au code qui a appelé la fonction, pour ensuite être utilisée au besoin ;

## les paramètres sont les données nécessaires à une fonction pour être exécutée et générer un résultat ;

## les paramètres sont des variables définies par un nom. Ils sont spécifiés dans la déclaration de la fonction ;

## lorsque l’on utilise une fonction, vous lui passez différentes valeurs en paramètres. Ces valeurs sont appelées arguments;

## vous pouvez utiliser la fonction help pour afficher la documentation d’une fonction donnée.

#  Programmez en orienté objet

In [34]:
var1 = 14
var2 = 1031

### Exercice d'entrainement

In [35]:
# Les méthodes de chaines de caractères

# Soit la variable maPhrase suivante :

maPhrase = 'JE SUIS ENERVE !!'

In [36]:
# Utilisez une méthode de chaines de caractères pour transformer la variable maPhrase en minuscule :
maPhrase = maPhrase.lower()
print(maPhrase)

je suis enerve !!

In [37]:
# Remplacez les ... par une ligne permettant, à partir de la variable maPhrase d'afficher : je suis calme !!
print(maPhrase.replace("enerve", "calme"))

je suis calme !!

# En résumé
### Une classe est un plan de construction d’un objet.

### Une variable est une instance de classe, ou un objet.

### Un objet est défini par ses attributs.

### Toutes les instances d’une classe ont accès aux mêmes méthodes via la notation..

### Une méthode, tout comme une fonction, ne modifie généralement pas l’objet initial.

### Dans la prochaine partie, nous verrons un peu plus en détail comment organiser votre code via différentes structures et objets complexes.

# Créez des tableaux pour stocker vos variables

In [38]:
nomClient1 = 'Georges Dupont'
nomClient2 = 'Luc Martin'
nomClient3 = 'Lucas Anderson'
nomClient4 = 'Alexandre Petit'
# etc...

In [39]:
nomClient = ['Georges Dupont', 'Luc Martin', 'Lucas Anderson', 'Alexandre Petit']

In [40]:
# assigner la valeur 'Georges Dupond' au premier nom dans notre liste
# c'est donc l'indice 0, car les indices commencent à 0 en python !
nomClient[0] = 'Georges Dupond'

In [41]:
print(nomClient[0])

Georges Dupond

In [42]:
# afficher le dernier élément
print(nomClient[-1])

# accéder du second élément au 3ème
print(nomClient[1:3])

# accéder à tous les éléments du début jusqu'au second
print(nomClient[:2])

Alexandre Petit
['Luc Martin', 'Lucas Anderson']
['Georges Dupond', 'Luc Martin']

In [43]:
montantCompte = [10000, 150, 300, 1800.74]

In [44]:
listeEtrange = [4, 10.2, "Georges Dupond", ["une autre liste", 1]]

# afficher le 4ème élément de la liste
print(listeEtrange[3])

['une autre liste', 1]

# # Exercice d'entrainement

In [45]:
#Une liste pour les gouverner tous

#Déclarez une liste couleurs contenant 5 éléments : rouge, jaune, orange, vert et bleu.
couleurs = ['rouge', 'jaune', 'orange', 'vert', 'bleu']

#Remplacez la couleur vert par émeraude :
couleurs[3] = 'émeraude'

#Affichez le contenu de la liste :
for couleur in couleurs :
    print(couleur)

rouge
jaune
orange
émeraude
bleu

In [46]:
liste = []
liste.append(7)
liste.append(5)
print(liste) # => [7, 5]

[7, 5]

In [47]:
liste = []
liste.append(7) # -> [7]
liste.append(5) # -> [7, 5]
liste.insert(1,12) # [7, 12, 5]
liste[0] = 4 # -> [4, 12, 5]
liste.remove(12) # [4, 5]
liste.index(5) # affiche 1
liste.extend([1, 2, 3]) # [4, 5, 1, 2, 3]
del liste[3] # [4, 5, 1, 3]

In [48]:
liste = [1, 2, 3]
len(liste) # affichera 3

3

## Exercice d'entrainement

In [49]:
#Ajouter des éléments à une liste

#Remplacez les ?? par le code adéquat pour créer une liste vide :

invites = []

# Ajoutez 3 invités à la liste : Joey, Martin et Marie
invites.append('Joey')
invites.append('Martin')
invites.append('Marie')

# A noter - nous avons ici utilisé 3 lignes, mais nous aurions pu très bien faire également :
invites.extend(['Joey', 'Martin', 'Marie'])

# Affichez la taille de la liste :
len(invites)

# Remplacez Martin par John dans la liste 
invites.insert(1, 'John')
invites.remove('Martin')

# Supprimez Joey de la liste :
invites.remove('Joey')

# Affichez le contenu de la liste :
for invite in invites :
    print(invite)

John
Marie
Joey
Martin
Marie

## Dictionnaire

In [50]:
comptes = {"Georges Dupont": 10000, "Luc Martin": 150, "Lucas Anderson": 300, "Alexandre Petit": 1800.74}
print(comptes["Luc Martin"]) # -> 150

150

In [51]:
comptes['Georges Dupont'] -= 2000 # je soustrais 2000 au compte de Georges
comptes['Cyril Andreje'] = 1000 # j'ajoute un nouvel individu dans mon dictionnaire
print(comptes['Cyril Andreje']) # j'affiche la valeur du compte de Cyril

1000

In [52]:
comptes.pop('Luc Martin') # supprime Luc Martin de notre dictionnaire

150

In [53]:
len(comptes) # -> 3

4

## Tuples

In [54]:
# Déclarer mon tuple
mon_tuple = (1, 2, 3, 'a', 'b')

In [55]:
print(mon_tuple[1]) # -> 2
print(mon_tuple[4]) # -> 'b'

2
b

In [56]:
a, b = (1, 'pomme')
print(a) # -> 1
print(b) # -> 'pomme'

1
pomme

# En résumé

#### Dans ce chapitre, vous avez appris l’ensemble des bases de l’utilisation de différents "types de stockage" :

#### les listes : un tableau ordonné, modifiable, où chaque élément est associé à un indice ;

#### les dictionnaires : un tableau non ordonné, modifiable, où chaque élément est associé à une clé ;

#### les tuples : un tableau ordonné, non mutable, où chaque élément est associé à un indice ;

#### les actions les plus souvent réalisées avec les listes et dictionnaires sont :

#### accéder à un élément,

#### ajouter un élément,

#### supprimer un élément,

#### modifier un élément,

#### compter le nombre d’éléments stockés ;

#### on peut réaliser ces différentes actions via des méthodes.

#### Le type à utiliser dépend de la tâche à accomplir. Au fur et à mesure que vous progresserez dans votre carrière, vous serez en mesure de mieux identifier la structure la plus adaptée à votre situation !

# Contrôlez votre code grâce aux structures conditionnelles

In [58]:
nom = input('Quel est ton nom, cher(e) inconnu(e) ?')

if len(nom) > 0:
    print("Hello", nom, "!")
else:
    print("Hello World !")

Quel est ton nom, cher(e) inconnu(e) ?Hassan
Hello Hassan !

In [59]:
ceCoursEstGenial = True
sonAuteurEstTresHumble = False

In [60]:
meteo = "La météo est chouette !"
meteo.startswith("La météo") # -> True

True

In [61]:
2 == 2 # -> True
2 == 3 # -> False
4 != 4 # -> False
4!= 5 # -> True
1 < 2 # -> True
1 < 1 # -> False
1 <= 1 # -> True
3 > 4 # -> False
5 > 4 # -> True
5 >= 4 # -> True

True

In [63]:
age=15

# if age>=21:
    # Faire quelquechose si l'age est supérieur ou égal à 21

In [64]:
True and True # True
True and False # False
False and False # False
True or False # True
True or True # True
False or False # False
not(True) # False
not(False) # True

True

In [65]:
True and True and True # True
True and True and False # False
True or False or False # True
False or False or False # False

False

In [66]:
False or True and True # True
not(False) and True or False # True

True

In [67]:
(True and False) or True # True
not(True and False or not(True)) # True

True

In [68]:
maListe = [4, 2, 3, 2, 10]
maListeDeString = ["a", "b", "c", "d"]
monString = "La météo est vraiment bien aujourd'hui !"

4 in maListe # True
0 in maListe # False
0 in maListeDeString # False
"c" in maListeDeString # True
"e" in maListeDeString # False
"météo" in monString # True
"vraiment" in monString # True
"pluie ?" in monString # False

False

In [70]:
# if condition1: 
    # instructions
# elif condition2:
    # instructions
# else:
    # instructions

In [71]:
compte = input("Quel est le soldes de votre compte ?")
compte = int(compte) # transformer la réponse en entier

if compte >= 10000:
    print("Prêt accordé !")
elif compte >= 100 and compte < 10000:
    print("Prêt en cours de validation : à l'étude")
else:
    print("Prêt refusé")

Quel est le soldes de votre compte ?300
Prêt en cours de validation : à l'étude

#  Exercice d'entrainement

In [72]:
# Gérez un enchaînement de conditions

# Exécutez le code suivant :

a = 5
b = 10
c = 7

if c < a :
    print("c est plus petit que a")
    
if c > b :
    print("c est plus grand que b")
    
if c > a and c < b :
    print("c est entre a et b")

# A présent, reprenez le code ci dessus, en remplaçant les 3 if avec une structure de type if / elif / else plus adaptée. L'affichage au final doit être identique !

a = 5
b = 10
c = 7

if c < a:
    print("c est plus petit que a")
elif c > b:
    print("c est plus grand que b")
else:
    print("c est entre a et b")

c est entre a et b
c est entre a et b

# En résumé
#### Les conditions vous permettent d’exécuter un bloc de code lorsqu’un booléen, une variable ou une expression est vrai (True).

#### Les expressions utilisent de l’arithmétique booléenne, incluant des opérateurs logiques et des opérateurs de comparaison.

#### Vous pouvez réaliser plusieurs conditions avec les enchaînements de if/elif/else.#

# Choisissez la boucle adéquate

In [73]:
monString = "Eléments"

for elt in monString:
    print(elt)

E
l
é
m
e
n
t
s

In [74]:
for i in range(0, 5, 1):
    print(i) # -> affiche de 0 à 4 par pas de 1 (fin - 1)
    
for i in range(0, 5):
    print(i) # -> affiche de 0 à 4 également (le pas par défaut est 1)
    
for i in range(5):
    print(i) # -> affiche de 0 à 4 également (le début par défaut est 0)

for i in range(0, 5, 2):
    print(i) # -> affiche 0, 2 puis 4

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
2
4

In [75]:
# while expressionLogique:
    # bloc à exécuter

In [76]:
nombreArbres = 0

while nombreArbres < 10:
    nombreArbres += 1
    print("J'ai planté", nombreArbres, "arbres")
    
print("J'ai une chouette forêt !")

J'ai planté 1 arbres
J'ai planté 2 arbres
J'ai planté 3 arbres
J'ai planté 4 arbres
J'ai planté 5 arbres
J'ai planté 6 arbres
J'ai planté 7 arbres
J'ai planté 8 arbres
J'ai planté 9 arbres
J'ai planté 10 arbres
J'ai une chouette forêt !

In [ ]:
leSoleilBrille = True

# while leSoleilBrille:
    # print("Reste éveillé... pour toujours !") 
    # leSoleilBrille ne change jamais, donc la condition est toujours vraie 
    
# nous n'atteignons donc jamais cette ligne
# print("Il est temps d'aller dormir !")

# Exercice d'entrainement

In [ ]:
# La boucle WHILE : “bouclez” selon une condition

# Créez une boucle for qui va afficher : 'OpenClassRooms est vraiment top !' 5 fois

for i in range(5):
    print("OpenClassRooms est vraiment top !")
    
# Changez votre boucle for par une boucle while :

i = 0
while i < 5:
    print("OpenClassRooms est vraiment top !")
    i += 1

In [ ]:
for i in range(10):
    # instructions réalisées à chaque itération
    print(i)
    if (i == 2) or (i == 5):
        print("Cas spécial")
        continue 
    # instructions non exécutées si i == 2 or 5 
    print("i != 2 & i != 5")

In [ ]:
panier = ["pomme", "orange", "banane"]

for fruit in panier:
    if fruit == "orange":
        print("J'ai une", fruit, "!")
        break

# En résumé
#### Dans ce chapitre, vous avez découvert 2 types de boucles :

#### celle pour répéter une action un certain nombre de fois fixé, ou selon une séquence : la boucle for ;

#### la boucle vous permettant de répéter une action tant qu’une condition est vraie : la boucle while.

#### Il y a une erreur courante à ne pas commettre avec la boucle while : la boucle infinie !

#### Vous pouvez choisir de passer certains tours de boucle via le mot clé continue.

#### Les cycles de la boucle peuvent être interrompus via la commande break.

# Prenez en main les modules et librairies Python

In [ ]:
import geometry

In [ ]:
'''
Module geometry.py
'''
# variables
pi = 3.14159265359
phi = 1.6180

# fonction qui calcule l'aire
def aire(obj):
    if type(obj) == carre:
        return obj.a**2

# definitions de quelques classes
class carre(object):
    def __init__(self,a):
        self.a = a

class triangle(object):
    def __init__(self,a,b,c):
        self.a = a
        self.b = b
        self.c = c

In [ ]:
car = geometry.carre(4)
tri = geometry.triangle(3, 6, 5)

print(geometry.pi) # -> 3.14159265359

geometry.aire(car) # -> 16

In [ ]:
import geometry as geo # on peut maintenant accéder à geo.aire() ou geo.pi

In [ ]:
from geometry import pi
print(pi) # -> 3.14159265359

In [ ]:
from geometry import *

In [ ]:
import geometry # import all the geometry package

print(geometry.variables.pi) # -> 3.1415...
car = geometry.classes.carre(4)
geometry.fonctions.aire(car) # -> 16

In [ ]:
import geometry.variables as var # importer uniquement ce qui est défini dans variables.py

print(var.pi) # -> 3.1415...

In [ ]:
import numpy as np
np.sqrt(16) # -> 4.0

# En résumé
#### Dans ce chapitre, nous avons vu ensemble les bases de l’utilisation des modules et des packages :

#### un module est un fichier contenant du code Python (extension .py) qui peut définir des fonctions, des classes et/ou des variables ;

#### vous pouvez importer n’importe quel module Python via le mot clé  import;

#### pour utiliser une fonction d’un module, ou une classe ou une variable, il faut utiliser l’opérateur  .;

#### un package est un ensemble de plusieurs modules Python ;

#### il existe de nombreux packages spécifiquement créés pour l’analyse de données.#

# Manipulez des nombres aléatoires avec le module random

In [ ]:
import random

# En résumé
#### Vous avez vu les principales fonctionnalités disponibles via le module random. Vous pouvez à présent :

#### générer un nombre aléatoire, entier ou décimal, dans un intervalle donné ;

#### générer un nombre aléatoire suivant une distribution donnée ;

#### choisir aléatoirement un ou plusieurs éléments dans une liste, avec ou sans remise.